/* color variables */
:root {
	--black-1: #000000;
	--black-2: #373737;
	--black-3: #3a414e;
    --black-4:#3a3a3a;
	--grey-1:#666666;
	--white-1: #ffffff;
	--white-3: #b5b6b9;
	--green-1: #238d49;
	--green-2: #337645;
	--green-3: #2c774b;
	--green-4: #2b683a;
	--white-2: #f0f0f0;
	--blue-1: #283343;

}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../font/Lato-Bold.eot') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/Lato-Bold.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/Lato-Bold.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('../font/Lato-Bold.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/Lato-Bold.svg') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('../font/Lato-Regular.eot') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/Lato-Regular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/Lato-Regular.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('../font/Lato-Regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/Lato-Regular.svg') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'Lato-Black';
	src: url('../font/Lato-Black.eot') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/Lato-Black.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/Lato-Black.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('../font/Lato-Black.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/Lato-Black.svg') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../font/Lato-Light.eot') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../font/Lato-Light.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../font/Lato-Light.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('../font/Lato-Light.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../font/Lato-Light.svg') format('svg');
	/* Legacy iOS */
}

h3 {
	font-size: 1.18rem;
	font-family: 'Lato-Bold', Fallback, sans-serif;
	margin: 0;
}

h4 {
	font-size: 1.12rem;
	margin: 0;
	font-family: 'Lato-Bold', Fallback, sans-serif;
}

p {
	font-family: 'Lato-Regular', Fallback, sans-serif;
	margin: 0;
	font-size: 0.9rem;
}

ul{
    list-style: none;
    margin: 0;
}


.navbar-toggler {
	background-color: var(--white-1);
}

.nav-border {
	border: 1px solid var(--white-1);
	height: 0px;
	width: 8px;
	vertical-align: bottom;
	display: inline-block;
}

.img-responsive {
	display: block;
  }
  .img-responsive-mobile {
	display: none;
  }

header .navbar-nav .nav-link {
	color: var(--white-1);
}

header .navbar-nav .nav-link.active {
	color: var(--white-1);
}


.Heater-box-last::before {
	content: '';
	max-width: 40rem;
	display: block;
	height: 20rem;
	margin: 0 auto 0 auto;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	border-top: none;
	border-bottom-left-radius: 20rem;
	border-bottom-right-radius: 20rem;
	margin-top: -30rem;
	margin-bottom: 4rem;
}

.icons-img {
	text-align: center;
}

.icons-img img {
	background: linear-gradient(168deg, rgba(115, 182, 77, 1) 44%, rgba(6, 124, 65, 1) 39%);
	padding: 7px;
	border-radius: 20px;
	width: 64px;
	height: 64px;
}

.heater-box-one {
	margin-left: 6rem;
	padding-top: 4rem;
}

.heater-box-two {
	margin-left: 10rem;
	padding-top: 5rem;
}

.heater-box-three {
	margin-left: 0rem;
	margin-right: 3rem;
	padding-top: 4rem;
}

.heater-box-four {
	margin-right: 3rem;
	padding-top: 2rem;
}

.heater-circular::after{
	content: '';
    border: 1px solid;
    height: 2px;
    width: 42%;
    vertical-align: middle;
    display: inline-block;
    margin: 0px 15px;
}
.heater-circular h3{
	padding: 10px 0;
	font-size: 22px;
	color: var(--black-1);
}

.long-life-box {
	width: 38%;
	margin: 0 auto;
}
.heater-head h3 {
	font-size: 19px;
	padding: 10px 0;
	color: var(--green-2);
	text-align: center;
}

.heater-head p {
	font-size: 14px;
	max-width: 42%;
	text-align: center;
	color: var(--grey-1);
}

.heater-head p span{
	font-weight: 700;
}

.heater-info {
	padding: 1.8rem 0 2.5rem 0;
}

.heater-info p {
	font-size: 16px;
	color: var(--black-2);
	font-family: 'Lato-Light', Fallback, sans-serif;
}


.power-product-main {
	background-color: var(--black-1);
	padding: 4rem 0;
}

.power-product-head {
	color: var(--white-1);

}

.power-product-head h3 {
	font-size: 5.6rem;
	font-family: 'Lato-Black', Fallback, sans-serif;
}

.power-product-head h3 span {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px;
}

.power-product-head p {
	padding-top: 4.4rem;
	font-size: 1.6rem;
	color: var(--white-2);
	font-family: 'Lato-Light', Fallback, sans-serif;
}

.power-product-head p>span {
	color: var(--white-1);
	font-family: 'Lato-Bold', Fallback, sans-serif;
}


/* <!-- Specifications --> */
.spec-round {
	background: #17171a;
	background: linear-gradient(to bottom right, #17171a, #343332);
	border-radius: 50%;
	max-width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	padding: 20px 10px;
	word-break: break-word;
	border: 4px solid var(--white-3);
}

.spec-round h4 {
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	text-align: center;
	font-family: 'Lato-Black';
}

.spec-round h5 {
	font-size: 20px;
	color: var(--green-3);
	text-align: center;
	font-weight: bold;
	font-family: 'Lato-Bold';
}

.specific-circle {
	content: "";
	max-width: 40rem;
	display: block;
	height: 20rem;
	margin: 0 auto 0 auto;
	box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
		rgb(0 0 0 / 30%) 0px 8px 16px -8px;
	border-top: none;
	border-top-left-radius: 20rem;
	border-top-right-radius: 20rem;
	margin-top: -19rem;
}

.specfiy-top-round {
	margin-top: -5rem;
}

.Specifications h3 {
	padding: 40px 0;
	font-size: 40px;
	font-family: 'Lato-Black', Fallback, sans-serif;
	color: var(--green-2);
}

.specif-border {
	border: 1px solid;
	height: 2px;
	width: 30px;
	vertical-align: middle;
	display: inline-block;
	margin: 0px 15px;
}

.round-second-left {
	margin: 0 0px 0px auto;
}

.round-third-left {
	margin: 0px auto 0px auto;
}

.round-third-right {
	margin: 10px auto 0px auto;
}

.round-four-left {
	margin: 10px 0px 0 30px;
}

.round-four-right {
	margin: 10px 30px 0 auto;
}

/* product-white */
.product-white {
	width: 100%;
	background-color: var(--black-3);
}

.btn-primary.buy-btn {
	background-color: var(--green-4);
	outline: 0;
	border: 1px solid var(--green-4);
}

.btn-success.buy-btn:hover {
	background-color: var(--green-4);
	border: none;
}

.btn-success.buy-btn:active {
	background-color: var(--green-4);
	border: none;
}

.btn-success.buy-btn:focus {
	border: 1px solid var(--green-4);
	outline: none;
	box-shadow: none;
}

/* product-1 */
.black-img {
	justify-content: start;
}

/* .black-img img{
    padding-bottom: 2rem;
    padding-top: 2rem;
} */
.product-two {
	margin: 2rem 2rem;
}

/* product--2 */
.product-light {
	background-image: linear-gradient(to right bottom, #b2b8c2, #bfc3cb, #cbcfd5, #d8dade, #e5e6e8);
}

.product-two h3 {
	font-size: 36px;
	font-family: 'Lato-Black';
}

.product-two p {
	padding: 30px 0;
	font-size: 16px;
	font-family: 'Lato-Regular';
}


/* conatct */
.contact {
	background-image: url('/images/contact-bg.jpg');
	width: 100%;
	background-size: cover;
	height: 100%;
	background-position: center bottom;
	padding: 64px 0 0 0;
}

.contact-head-main h2 {
	font-size: 50px;
	color: var(--green-2);
	font-family: 'Lato-Black';
}

.contact-head-main p {
	font-size: 20px;
	color: var(--black-1);
	font-family: 'Lato-Regular';
}

.contact-info h5 {
	font-size: 22px;
	margin: 0;
	font-family: 'Lato-Black';
}

.contact-info p {
	font-size: 16px;
	margin: 0;
}

.contact-info {
	padding-left: 30px;
}

.contact-enquiry {
	padding-left: 30px;
}

.contact-enquiry h5 {
	font-size: 22px;
	margin: 0;
	font-family: 'Lato-Black';
}

.contact-enquiry p {
	font-size: 16px;
	margin: 0;
}

.contact-border {
	border: 1px solid var(--green-1);
	height: 50px;
	width: 1px;
	vertical-align: middle;
	display: inline-block;
}

.contact-phone {
	align-items: center;
	justify-content: end;
}

/* tab design */
.tab-main {
	width: 87%;
	margin: 0 auto;
}

.tab-main-listing {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tab-main .nav-link {
	font-size: 22px;
	padding: 30px;
	color: transparent;
}

.tab-main .nav-pills .nav-link {
	border-radius: 0;
	border-bottom: 1px solid #bfbfbf;
}

.tab__content {
	padding: 0 50px 0 0px;
}

.tab-main .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: #f2fbf5;
	border-bottom: 1px solid #337645;
}

.tab-main .nav-link h4 {
	color: #337645;
	text-align: left;
	font-size: 22px;
}

.tab__heading {
	display: flex;
	justify-content: space-between;
}

.tab__pane p {
	color: #337645;
	text-align: left;
	font-size: 22px;
	margin: 0;
	padding: 15px 0;
}

.video-circle {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 1px solid #fff;
	padding: 11px 18px;
}

.video-circle i {
	color: #fff;
}

.tab-list {
	margin-left: 3rem;
}
.tab-main h3{
    padding: 40px 0;
    font-size: 40px;
    font-family: 'Lato-Black', Fallback, sans-serif;
    color: var(--green-2);
}
.tab-main p{
    padding-bottom: 40px;
    font-size: 20px;
    font-family: 'Lato-Regular', Fallback, sans-serif;
    color: var(--black-4);
}
/* .show-icon:active{
		color: #000000;
} */

.specify-list-head{
    max-width: 56%; 
    margin: 0 auto;
}
footer{
    background-color: var(--black-1);
    padding: 24px 0;
}
ul{
    padding: 0;
}
    li{
        color: var(--white-1);
        font-size: 13px;
        font-family: 'Lato-Regular', Fallback, sans-serif;
    }
    .nav-border-footer{
        display: inline-block;
    }

    .social-icon li{
        padding-right: 10px;
        padding-left: 10px;
    }
    
/* .tab-main .nav-link:hover{
     color: #337645;
  }
  .tab-main .nav-link + .active{
     color: #337645;
  } */